POSTGRES_USER=pricehub
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST_PORT=5433

RABBITMQ_USER=pricehub
RABBITMQ_PASSWORD=troque-esta-senha
RABBITMQ_UI_HOST_PORT=15672
RABBITMQ_PREFETCH=10

LOG_LEVEL=info
CORS_ORIGINS=http://localhost:*,http://127.0.0.1:*

WEBHOOK_SECRET_BIOFARMA=troque-segredo-biofarma
WEBHOOK_SECRET_FARMAAZUL=troque-segredo-farmaazul

SYNC_INTERVAL_MS=60000
DROGAPOPULAR_POLL_INTERVAL_MS=15000
OUTBOX_POLL_INTERVAL_MS=500
